
node_modules
=======
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore Cache Data
my/path

/recommendation-model/__pycache__

linkedin-scrapper/my
linkedin-scrapper/my/path

# Ignore Cookie
cookie.json

# Node Module
node_modules


# dependencies
node_modules
Backend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*

