.Event{
    background-color: var(--cream-color);
    background-image: url("../images/EventBackground.svg");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    height: 100%;
    min-height: 100vh;
    width: 100vw;
   
}

.EventContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 50px;
}

.eventCategories{
    flex: 6;
    margin-right: 40px;
}
.eventPosts{
    flex: 10;
    overflow-y: auto;
    height: 100vh;

}

.eventCategories{
    /* display: flex;
    flex-direction: column; */
}

.category{
    width: 100%;
    border: none;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--grey);
    color: var(--dark-text);
}

.selected{
    font-weight: bold;
    color: var(--primary-color);
}
#btn-event-post {

padding: 10px;
border: 3px solid var(--primary-color);
border-radius: 10px;

background-color: var(--cream-color);
color: var(--dark-text);
font-weight: bolder;
font-size: 20px;

}

#btn-event-post:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--primary-color); }
  }
  