@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.Login{
    background-image: url("../images/home_background.png");  
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Login *{
    margin: 0;
}

.login_container{
    justify-self: center;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container form{
    min-width: 400px;
    background-color: var(--cream-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login_container form > *{
    margin: 10px;
}

.login_container h1{
    font-family: 'Nunito', sans-serif;
    font-weight:500;
    font-size: 30px;
}

.logo img{
    height: 40px;
}

.input-element{
    background: transparent;
    border: none;
    border-bottom: 1px solid #1e1e1e7c;
    font-size: 16px;
    outline: none;
}

.btnLogin{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: #1e1e1e;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}

.btnLogin:hover{
    background-color: var(--primary-color);
    color: white;
    transition: 500ms color;
    transition: 500ms background-color;
}

.redirect-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.redirect-links a{
    color: var(--primary-color);
    text-decoration: none;
}

.redirect-links a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.inputImg{
    display: none;
}

.lblUpload{
    /* background-color: #1111; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    /* padding: 10px; */
    cursor: pointer;

}

.imgProfile{
    background-color: #1111;
    border: 3px solid black;
    border-radius: 50px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    
}

#selectedImage{
    max-width: 200px;
text-overflow: ellipsis;
overflow: hidden;
}