.viewProfilePage {
    background-color: var(--cream-color);
    /* height: 100vh; */
}

.viewProfile {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;
    margin: 20px 100px;

}

/* Profile */

.profile {
    background: rgba(255, 255, 255, 0.46);
    width: 100%;
    height: max-content;
    margin-right: 10px;
    overflow: hidden;
    /* flex: 10; */
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    width: 100%;
}

.certificationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    width: 100%;
}

.skills {
    background-color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}


.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.skills ul li {
    border: 1px solid #f03e3e;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

.profile-p,
.skills h6 {
    width: 100%;
}

.experiences-role {
    font-size: 18;
}

.profile-label {
    font-size: 20px;
}

/* Recommended Profile */

.recommendedProfiles {
    background: rgba(255, 255, 255, 0.46);
    width: 70%;
    height: max-content;
    /* flex: 5; */
    /* overflow-y: scroll; */
    max-height: min-content
}