:root{
    --primary-color: #EB1D36;
    --cream-color: #F5EDDC;
    --brand-gradient: linear-gradient(180deg, #FA9494 0%, #EB1D36 100%);
    --padding-x: 50px;
    --grey: #D9D9D9;
    --dark-text: #1E1E1E; 


}
*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Chivo', sans-serif;
}

.text-primary{
    color: var(--primary-color);
}


/* Components */
/* NAVBAR  */

/* Pages */
/* HOME */
.Home{
    overflow: hidden;
}
    #header{
        background-image: url("./images/home_background.png");  
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        /* padding: 0 50px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    
    #header-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-image: url("./images/home_object.svg");
        background-repeat: no-repeat;
        background-position-x:right;
        background-size: contain;
        padding: 0 50px;
        position: relative;
    }
    
    #header-content #quote{
        color: var(--cream-color);
        display:inline-block;
        font-family: "chivo", sans-serif;
        font-size: 105px;
        position: absolute;
        top: 8%;
    }

    #header-content #alumnit-logo{
        width: 40vh;
        align-self: flex-end;
        position: absolute;
        bottom: 15%;
    }

    #welcome{
        padding: 0 var(--padding-x);
        padding-top: 120px;
        background-color: var(--cream-color);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;

    }

    .cardButtons{
        background: var(--brand-gradient);
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        width: 700px;
        /* padding: 20px 0; */

        position: absolute;
        top: -50px;
    }

    .cardButtons span{
        font-family: 'Courier New', Courier, monospace;
        font-size: 60px;
        font-weight: normal;
        color: #d9d9d9;
        /* margin: 0 50px; */

    }

    .cardButtons a{
        text-decoration: none;
        color: var(--cream-color);
        font-size: 45px;
        /* background-color: red; */
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .cardButtons a:hover{
        background: linear-gradient(0deg, rgba(165, 0, 0, 0.2), rgba(165, 0, 0, 0.2)), var(--brand-gradient);
    }

    .section-heading{
        font-size: 75px;
        display: block;
        text-align: center;
    }

    .welcome-content{
        padding: 30px 60px;
        font-family: 'Lato', sans-serif;
        text-align: justify;
        text-align: center;
        font-size: 30px;
    }

    .welcome-content > p{
        margin-top: 20px;
    }

    #department_faculty{
        padding: 0 var(--padding-x);
        padding-top: 50px;
        background-color: var(--cream-color);
    }

    .carousel{
        /* margin: px 0; */
        padding: 50px 0;
    }

    .carousel button.rec-arrow{
        /* width: 50vw; */
        margin: 0 50px;

    }
    .carousel hover{
        background-color: #EB1D36;
        opacity: 50%;
    }

  /* Career  page style css*/
  html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--primary-color) 50%, var(--cream-color) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  /* .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  } */

  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }

    .job-post-heading button {
        background-color: var(--grey);
        border: 3px solid black;
        padding: 24px 73px;
        border-radius: 24px;
        font-size: 30px;
        font-family: chivo;
        color: var(--dark-text);
    }

    .job-post-heading h1{
        font-size: 96px;
        font-weight: 400;
        color: var(--dark-text);
        text-align: center;
        

    }

    .job-post-heading button:hover {

        background-color: var(--dark-text);
        border: 3px solid var(--grey);
        color: var(--grey);


    }

    .content .divider{
        width: 80vw;
        height: 2px;
        background-color: var(--dark-text);
        border-radius: 5px;
        margin: 54px 0;

        /* border: 3px solid black; */
    }

.job-card-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.job-card-container .JobCard {
    margin: 10px;

}

.popup-content {
    width: 100%;
    border: none;
    background-color: transparent;
  }

  /*----------------------- Community CSS------------------ */

  .Community{
    background-color: var(--grey);

  }

  .communityPostContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}