.CustomForm {
    padding: 25px 25px;
    border: 5px solid #e1e1e1;
    max-width: 600px;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cream-color);
    max-height: 94vh;
    overflow: auto;
    margin-bottom: 10px;
    /* align-items: flex-start; */
  }
  
  .form-control {
    background-color: var(--cream-color);
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
  }
  
  /* .submit-btn {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--cream-color);
    display: block;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
  } */

  #btnPost{
    background-color: var(--primary-color);
    border: none;
    color: white;
    border: 1px solid transparent;
  }

  #btnPost:hover{
    border: 1px solid black;
    background-color: var(--primary-color);
  }
  
