.navbar{
    width: 100%; 
    background-color: transparent;
    display: flex;
    font-family: 'chivo', sans-serif;
    font-size: 24px;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    /* flex-direction: row; */
}

.navbar a {
    text-decoration: none;
    margin: 0px 25px;
    /* color: var(--cream-color); */
    padding: 5px;
    border: 2px solid transparent;
    color: inherit;

}

.navbar a:hover{
    /* color: var(--primary-color);
    text-decoration: underline; */
    /* border-color: var(--primary-color); */
    color: var(--primary-color);
    border-bottom: 5px  solid var(--primary-color);
    transition: 150ms ease-in color;
    transition: 150ms ease-in border;
    /* background-color: var(--primary-color); */
    /* border-radius: 10px; */
}

.bvp_logo{
    width: 228px;
    /* height: 153px; */
}

.transperent{
    color: var(--cream-color);
}

.non-transperent{
    color: rgb(69, 8, 8);
}
